
header{
    position: relative;
    background-color: rgb(182, 220, 224)
}

.main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.main_title{
    font-size: 7rem;
}

.main_img{
    width: 500px;
    
}

